[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "lib/gnome-terminal-colors-solarized"]
	path = lib/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/konsole-colors-solarized"]
	path = lib/konsole-colors-solarized
	url = http://github.com/phiggins/konsole-colors-solarized.git
[submodule "awesome/shifty"]
	path = awesome/shifty
	url = http://github.com/markphilpot/awesome-shifty.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/markphilpot/oh-my-zsh.git
[submodule "awesome/menubar"]
	path = awesome/menubar
	url = https://github.com/markphilpot/menubar.git
[submodule "lib/powerline-fonts"]
	path = lib/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "lib/vim-colors-solarized"]
	path = lib/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim"]
	path = vim
	url = git@github.com:markphilpot/vimrc.git
