[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "lib/gnome-terminal-colors-solarized"]
	path = lib/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/konsole-colors-solarized"]
	path = lib/konsole-colors-solarized
	url = http://github.com/phiggins/konsole-colors-solarized.git
[submodule "awesome/shifty"]
	path = awesome/shifty
	url = http://github.com/markphilpot/awesome-shifty.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/markphilpot/oh-my-zsh.git
[submodule "awesome/menubar"]
	path = awesome/menubar
	url = https://github.com/markphilpot/menubar.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline
[submodule "lib/powerline-fonts"]
	path = lib/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "lib/vim-colors-solarized"]
	path = lib/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
