[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "lib/supergenpass"]
	path = lib/supergenpass
	url = http://github.com/gfxmonk/supergenpass.git
[submodule "lib/python-jira-cli"]
	path = lib/python-jira-cli
	url = http://github.com/trentm/python-jira-cli.git
[submodule "lib/gnome-terminal-colors-solarized"]
	path = lib/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/konsole-colors-solarized"]
	path = lib/konsole-colors-solarized
	url = http://github.com/phiggins/konsole-colors-solarized.git
[submodule "awesome/shifty"]
	path = awesome/shifty
	url = http://github.com/griphiam/awesome-shifty.git
