# Ubuntu
sudo apt-get install zsh ctags awesome awesome-extra rxvt-unicode-256color konsole nitrogen qt4-qtconfig xfe weechat rsstail xcompmgr

# Mac
brew install ctags git htop-osx imagemagick wget vim the_silver_searcher reattach-to-user-namespace tmux tmuxp rename 

# Python
pip install jedi Fabric tmuxp
